doctype html 
html
  head 
    title Harshit Dance Academy
    style   
        include ../static/style.css
  body 
    //- h1 My Site
    //- p Welcome to my Dance website 
    nav#navbar
        ul  
            div#logo 
                img(src="/static/logo.png")
                | HDA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services ]
            li #[a(href="/") Class Info ]
            li #[a(href="/") Contact Us]
    section#introSection 
        div Welcome to Harshit's Dance Academy
        div.small Eat Sleep Dance Repeat

    section#MissionSection 
        h2 Our Misson
        div.card 
            h3 Dance Perfection
            div.card-box
                div.card-img 
                    img(src="/static/1.png") 
                div.card-content 
                    p This is the best dance academy 
        div.card 
            h3 Dance the way you Like
            div.card-box
                div.card-img 
                    img(src="/static/2.png") 
                div.card-content 
                    p This is the best dance academy 
        div.card 
            h3 Expert teaching
            div.card-box
                div.card-img 
                    img(src="/static/3.png") 
                div.card-content 
                    p This is the best dance academy 
    section#sponsorSection 
        h2 Our Sponsors
        div#sponsors 
            img(src="/static/logo1.jpg",alt="Sponsor-Image",class="spImage")
            img(src="/static/logo2.png",alt="Sponsor-Image",class="spImage")
            img(src="/static/logo3.jpg",alt="Sponsor-Image",class="spImage")
            img(src="/static/logo4.png",alt="Sponsor-Image",class="spImage")
    footer#footer 
        | Copyright © 2022 Harshit Dance Acadmey | All rights Reserved   
    script 
        include ../static/index.js