extends base.pug

block scripts 
    script(src="/static/index.js")
    
block style 
    style   
        include ../static/style.css

block content
    div.box 
        div.wave.-one
        div.wave.-two
        div.wave.-three 
        div#weathercon
            i.fa-solid.fa-sun
        div.info 
            h2.location
                i.fa-solid.fa-street-view
                //- p 
                //-     input(type="text",class="myInput",name="city",placeholder="Enter City Name...")
                //-     button(class="btn")
                //-         | Submit
            p#date 
                | Wed |DEC 21|2:35PM 
                p.place #{place}
            h1.temp 
                | #{weatherTemp} 
            h3.tempin_max 
                | Min #{temp_min}°C | Max #{temp_max}°C 
