extends base.pug

block scripts 
    script(src="/static/index.js")
    
block style 
    style   
        include ../static/style.css

block content
    div.box 
        div.wave.-one
        div.wave.-two
        div.wave.-three 
        div#weathercon
            i.fa-solid.fa-sun
        div.info 
            h2.location
                i.fa-solid.fa-street-view
                form(action="/api",method="post",class="myForm")
                    input(type="text",class="myInput",id="name",name="name",placeholder="Enter City Name...")
                    button(class="btn")
                        | Submit
            p#date 
                | Wed |DEC 21|2:35PM 
                p.place #{place}
            h1.temp 
                | #{weatherTemp}°C 
            h3.tempin_max 
                | Min #{temp_min}°C | Humidity #{humidity} % 
